services:
 db:
  image: mysql:latest
  container_name: meal-mysqlDB
  environment:
    MYSQL_DATABASE: meal
    MYSQL_USER: meal
    MYSQL_PASSWORD: mealpass
    MYSQL_ROOT_PASSWORD: rootpass
    TZ: Asia/Seoul
  ports:
    - "3306:3306"
  volumes:
    - C:/Users/USER/Desktop/g_s/meal-tracker/DB/meal_mysql_data:/var/lib/mysql
  command: ["--character-set-server=utf8mb4", "--collation-server=utf8mb4_0900_ai_ci"]
  healthcheck:
    test: ["CMD", "mysqladmin", "ping", "-h", "127.0.0.1", "-uroot", "-prootpass"]
    interval: 5s
    timeout: 3s
    retries: 20